/*
body {margin-left: auto; margin-right: auto; width: 80%; min-width: 900px;}
.test {text-align: center;}

#result {padding-top: 20px;}

.btn {width: 250px; color: #fff; font-weight: 800; margin-top: 10px;}
.btn-red {background-color: crimson;}
.btn-green {background-color: #4caf50;}
.btn-blue {background-color: navy;}

.red {color: crimson; font-size: 1em; font-family: cursive;}
.green {color: #4caf50; font-size:2em; font-family: sans-serif;}
.blue {color: navy; font-size:3em; font-family:serif;}

.container {
	width: 100%;
}

.container h1 {
	text-align: center;
}

#runaway-container {
	position: absolute;
	width: 150px;
	margin-left: 0;
	margin-top: 100px;
}

#runaway {
	width: 150px;
}
*/

/*
#target-div {
width: 200px;
height: 200px;
margin: auto;
margin-top: 20%;

}

.blue {background-color: #6495ED;}

.green {
background-color: #4caf50;
}

#label { margin-top: 10px; margin-bottom: 0;}
*/

.container-fluid {margin-top: 10px;}

.piecatalogue {margin-top: 10px;}

.pizza {width: 200px; margin-left: 10px; margin-top: 10px;}

.bestpie {padding: 3px; background-color:#4caf50; width:197px;}
